* {
  box-sizing: border-box;
}

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
    */


    --color-primary-100: #fcf3e1;
  --color-primary-300: #fae1af;

}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
